.navbar-toggler,
.btn {
  border-radius: 0px;
}
.navbar-toggler i {
  padding-left: 5px;
}

#technologies {
  background-color: #212529;
  /* background-image: url('../img/honeycomb-bg.jpg'); */
  /* background: linear-gradient(rgba(254, 209, 54, 0.55),rgba(255, 255, 255, 0.55),rgba(33, 37, 41, 0.55)), url("../img/honeycomb-bg.jpg"); */
    background: linear-gradient(to bottom right, #ffffff, rgba(254, 209, 54, 0.94), rgba(254, 209, 54, 0.75), #ffffff);
    /* background: linear-gradient(to bottom right, rgba(254, 209, 54, 0.94), #212529, rgba(254, 209, 54, 0.75)); */
  background-position: center;
  background-size: cover;
}
#technologies .table {

  background-color: #212529;
  opacity: .85;
  /* color: white; */
}
thead,
tbody {
  color: white;
}
.card-title {
  text-transform: uppercase;
}
.card {
  border-radius: 0px;
  padding: 40px;
  opacity: 0.8;
}
